html, body{
	padding: 10;
}

h1, h2{
	text-align: center;
	margin-top: 1vw;
}

h2{
	margin-top: 2vw;
}

.btn-success.large{
	font-size: 3em;
	color: white;
	border-color: none;
}

.btn-info.large{
	font-size: 3em;
	color: white;
	background-color: #52B2CF
}

.wrapper {
    min-height: 100vh;
    display: flex;
	background-color: #EBEBEB;
    /* Direction of the items, can be row or column */
    flex-direction: column;
    justify-content: center;
}


.buttons{
	align-items:center;
	text-align:center;
	justify-content: center;
	margin-top: 2vw;
}

#show{
	background-color: #558EB4;
	border-color: #558EB4;
}

form{
	margin-left: 35%;
}

input#title, #description{
	width: 50%;
}

input#reg_date, #due_date, #categoryList{
	width: 30%;
}

.btn-primary{
	width: 25%;
}

.btn-primary.edit{
	width: 50%;
}

.btn-secondary{
	width: 50%;
}
.btn-warning{
	width: 25%;
}

input.sign-out{
	float: right;
}

.error-msg{
	color: red;
	padding: 0;
	margin: 0;
}

i{
	font-size: calc(18px + 1vw);
}

footer{
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #1A1D23;
	color: whitesmoke;
	padding: 0.5vw;
	font-size: larger;
}

footer-text{
	justify-content: center;
	align-items: center;
	text-align: center;
}

main {
    flex: 1;

}

.navbar{
	padding: 10px;
}


/* Things listauksen tyylejä */

table{
	width: 80%;
	margin: auto;
	border-collapse: collapse;
	font-size: calc(12px + 0.5vw);
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

div .table-styles{
	justify-content: center;
	align-items: center;
	margin-top: 1vw;
	margin-bottom: 1vw;
}

thead tr {
	background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-size: 1.1em;
    height: auto;
}

th, td {
	text-align: left;
}

tbody tr {
    border-bottom: thin solid #B8B8B8;
}

tbody tr:nth-of-type(even) {
    background-color: #F5F5F5;
}

tbody tr:last-of-type {
    border-bottom: 0.2vw solid #009879;
}

tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.actions{
	min-width: auto;
	height: auto;
}